@import url("https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,300&family=Kaushan+Script&family=Poppins:wght@300&display=swap");

* {
    /* flex-direction: content; */
    font-family: "Imbue", serif;
    box-sizing: border-box;
  }
  /* using mouse scroll on website not working properly not sure why  */
.body3{
  background-image: url(../images/menubackground.jpg);
}

  #header1 {
    font-family: "Imbue", serif;
    text-align: center;
    border-radius: 25px;
    padding: 10px;
    /* margin-bottom: 23px; */
    width: fixed;
    height: fixed;
  
    background: rgba(46, 210, 245, 0.75);
    mix-blend-mode: normal;
    border: 4px solid #000000;
    box-shadow: 0px 6px 8.53516px rgba(0, 0, 0, 0.25);
  
    font-family: "Imbue", serif;
    font-weight: 400;
    font-size: 80px;
  
    color: #000000;
  
    text-shadow: 9px 8.53516px 2.13379px rgba(0, 0, 0, 0.25);
  }
  #icon {
    border: 2px solid #000000;
    /* margin-right: 50rem; */
    /* need to align this picture better */
    position: relative;
    border-radius: 25px;
    width: 120px;
    height: 120px;
  }
  #btn1 {
    text-align: center;
  
    font-size: 1.5rem;
    width: 100%;
    border-radius: 25px;
  
    border: 1px solid rgba(4, 4, 4, 0.75);
    cursor: pointer;
    color: #030303;
    box-shadow: 0px 6px 10px rgb(0, 0, 0);
    background-color: rgba(201, 21, 177, 0.839);
  }
  #btn2 {
    text-align: center;
  
    font-size: 1.5rem;
    width: 100%;
    border-radius: 25px;
  
    border: 1px solid rgba(4, 4, 4, 0.75);
    cursor: pointer;
    color: #030303;
    box-shadow: 0px 6px 10px rgb(0, 0, 0);
    background-color: rgba(201, 21, 177, 0.839);
  }
  
  #outer {
    text-align: center;
    padding-bottom: 50px;
  }
  .inner {
    display: inline-block;
    width: 25%;
    margin-right: 25px;
  }
  #btn3 {
    text-align: center;
  
    font-size: 1.5rem;
    width: 100%;
    border-radius: 25px;
  
    border: 1px solid rgba(4, 4, 4, 0.75);
    cursor: pointer;
    color: #030303;
    box-shadow: 0px 6px 10px rgb(0, 0, 0);
    background-color: rgba(201, 21, 177, 0.839);
  }
  
  #pic1 {
    width: 100%;
    height: 100%;
    flex: auto;
    position: relative;
    background-attachment: fixed;
  }


  .grid-container{
    display: flex;
  }

  .grid-item1{
    min-height: 100px;
  }

  .griditem2{
    min-height: 100px;
  }

  #body3 { /* home page Styling */
    background: url(./images//homepage.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  #about {
    max-width: 60rem;
    border: #000000;
    border-radius: 25px;
    border-style: solid;
    background-color: azure;
    opacity: .8;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
  }
  #dinerimage{
  text-align: center;
  }

   #h1 {
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    border-style: solid;
    width: fixed;
    height: fixed;
    background-color: #E75A7C;
    opacity: 1;
    margin-right: auto;
    margin-left: auto;

  }

  #about #story {
    text-align: center;
  }

  #hours {
    display: inline-block;
    border: #000000;
    border-radius: 25px;
    border-style: solid;
    background-color: azure;
    opacity: .8;
    max-width: 20rem;
    margin-left: 32rem;
    margin-right: 2rem;
    padding: 1rem;

  }

  #hourstitle{
    align-content: center;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    border-style: solid;
    padding: 10px;
    width: fixed;
    height: fixed;
    background-color: #E75A7C;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
  }

  #hours #hoo {
    text-align: center;
  }

  #loc {
    display: inline-block;
    border: #000000;
    border-radius: 25px;
    border-style: solid;
    background-color: azure;
    opacity: .8;
    max-width: 20rem;
    padding: 1rem;
  }

  #loctitle {
    align-content: center;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    border-style: solid;
    padding: 10px;
    width: fixed;
    height: fixed;
    background-color: #E75A7C;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
  }

  #locname {
    text-align: center; 
  } 

  #foot {
    font-family: "Imbue", serif;
    font-size: 1.4rem;
    text-align: right;
    color: rgb(240, 5, 5);
  }